{% extends "base.html" %}
{% block title %}{{ form.instance.pk|yesno:"Editar Categoría,Crear Categoría" }}{% endblock %}

{% block content %}
<div class="navbar">
    <a href="/">Inicio</a>
    <a href="/categorias">Lista de Categorías</a>
</div>
<h1>{{ form.instance.pk|yesno:"Editar Categoría,Crear Categoría" }}</h1>
<form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{{ form.instance.pk|yesno:"Actualizar,Crear" }}</button>
    <a href="{% url 'lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
